require 'pry-byebug'
<h2 class="contnet-subhead">Search</h2>
<form action="/search" method="get" accept-charset="utf-8">
  <input type="search" name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if search_term %>
  <% if results.empty? %>
    <p>Sorry, no matches were found.</p>
    <% else %>
    <h2 class="content-subhead">Results for '<%= search_term %>'</h2>
    <ul>
      <% results.each do |chapter_title, (chapter_number, paragraphs)| %>
        <li><%= chapter_title %></li>
          <ul>
            <% paragraphs.each do |p| %>
            <li><a href=<%= extract_path(chapter_number, p) %>>
              <%= highlight_search_term(search_term, p) %></a>
            </li>
            <% end %>
          </ul>
      <% end %>
    </ul>
  <% end %>
<% end %>