<ul>
<% @files.each.with_index do |file, idx| %>
  <li>
  	<a href="/<%= file %>"><%= file %></a>
    <a href="/<%= file %>/edit">Edit</a>
    <form action="/<%= file %>/delete" method="post" accept-charset="utf-8" class="inline-style" id="form_<%= idx %>">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" form="form_<%= idx %>">Delete</button>
    </form>
  </li>
<% end %>
</ul>
<p>
  <a href="/new">New Document</a>
</p>